nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      margin-right: 2em;
    }
  }
}

header {
  .background {
    &_eye {
      position: absolute;
      z-index: -1;
      bottom: 40%;
      left: 0%;
      transform: rotate(-22deg);
      width: 50%;
      height: auto;
    }

    &_detail_magenta {
      position: fixed;
      z-index: -1;
      top: 0%;
      right: -13%;
    }

    &_detail_amarelo {
      position: fixed;
      z-index: -1;
      bottom: 10%;
      left: -12%;
    }
  }

  .header {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    justify-content: center;
    align-items: center;

    &_heading {
      font-size: em(50);
      line-height: em(20);
    }

    &-chat {
      height: 80vh;
    }
  }
}
